@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #001929;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
}

#homeHeader {
    display: flex;
    background-color: #8fd4ff;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    font-family: 'Gemunu Libre', sans-serif;;
}

@media only screen and (max-width: 775px) {
  #homeHeader {
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    font-family: 'Gemunu Libre', sans-serif;;
  }
}

.title a{
    color: #001929;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
}

.navList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 30px;
    font-size: 24px;
    padding-right: 10px;
}

li a {
    color: #001929;
    display:inline-block;
    padding: 10px;
    font-family: 'Gemunu Libre', sans-serif;;
    text-decoration: none;
}

li:hover {
    font-weight: bold;
}

#photoGallery {
  background-color: white;
  margin: 10px;
  display:grid;
  grid-template-columns: auto auto auto auto auto auto;
}

@media only screen and (max-width: 1200px) {
  #photoGallery {
    grid-template-columns: auto auto auto;
    grid-template-rows: 2(repeat,auto);
    align-content: center;
  }
}

@media only screen and (max-width: 775px) {
  #photoGallery {
    grid-template-columns: auto auto;
    grid-template-rows: 3(repeat,auto);
    align-content: center;
  }
}

h1 {
  font-size: 18px;
}

.tableList {
    list-style: disc;
    font-size: 18px;
}

footer {
    background-color: #8fd4ff;
    height: 80px;
    color: #001929;
}




